<html>
<head>
    <title>MovieDB</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body style ="background-color:#E6E6FA">
  

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color:#FF7F50">Movie Database Module</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                
                <li style = "padding-left:10px; padding-right:10px">
                    <a href="#" id="now_playing" class="filter-link">Now Showing</a>  
                </li>
                <li style = "padding-left:10px; padding-right:10px">
                    <a href="#" id="upcoming" class="filter-link" >Next Attraction</a>  
                </li>
                
                <li style = "padding-left:10px; padding-right:10px">
                    <a href="#" id="popular" class="filter-link">Popular</a>
                </li>

                <li style = "padding-left:10px;padding-right:10px;">
                    <a href="#" id="top_rated"  class="filter-link">Top Rated</a> 
                </li>
                </ul>
                <form class="navbar-form navbar-right" role="search" id="movie-search">
                  <div class="form-group">
                    <input type="text" class="form-control typeahead" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default" style ="background-color:#FF7F50"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" style="margin-top:30px">
        
       
        <br><br>
        <!-- Projects Row -->
        <div id="movie-list">
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                </ul>
                <div id="page-number"></div>
            </div>
        </div><br><br><br>
        <!-- /.row -->

        <div id="movie-view">
      <div class="movie-view">
                <!-- Nav tabs -->
        <table cellpadding="10" cellspacing="30">
                    <tr>
                        <td>
        <ul class="nav nav-tabs" role="tablist">
              <h3>Trailer:</h3>
              <div class="tab-pane active" id="Trailer1">
                
              </div>
             </td>
             <td>
                    <div style="width:180px"></div>
             </td>
             <td valign="top">
        
                <h3>Cast of Characters:</h3>
                             <div STYLE=" height: 380px; border:2px; width: 350px; font-size: 12px; overflow: auto;">
                      <div id="casts"></div>
                       <div id="casts2" style="display:none"></div>
                       <div id="showCasts"></div>
                        </div>
            
             </td></tr>
                </table>
                <div class="moviedetails">
                      <h3>Synopsis: </h3>
              <div id="synopsis"></div>
            
            <p></p></div>
         
                    
                       <h3>Similar Movies: </h3>
                       <div class="col-lg-12">
                           <span id="similar-movies1"></span>
                           <a href="javascript:void(0)" class="similar-toggle" style = "color:#8B008B">Show all</a>
                           <span id="similar-movies2" style="display:none"></span>
                            <a href="javascript:void(0)" class="similar-toggle" style = "color:#8B008B; display:none">Show less</a>
                        </div>
            <br><br><br><br><br><br>
    
            
          </div></div>

      <!-- Handlebars -->
      <div></div> 

      {% raw %}
    <script type="text/x-handlebars-template" id="tpl-list">
    {{#each this.results}}
        <div class="col-md-3 portfolio-item" data-id="{{id}}">
            <a href="#">
                <img height="100px"class="img-responsive" src="https://image.tmdb.org/t/p/w130/{{poster_path}}" alt="/static/img/logo.png">
            </a>
            <h4>
                <a href="#" >{{title}}</a>
            </h4>
        </div>
    {{/each}}    
    </script>
    {% endraw %}

    <script type="text/javascript">
      $(function() {
      var list = [
        {
          "id": movie.id,
          "poster_path":imgUrl,
          "title":movie.original_title
        }
      ];

      var rawTpl = $('#tpl-list').html();
      var template = Handlebars.compile(rawTpl);
      var markup = template(list);
      $('#movie-list').append(markup);
      });

    </script>


     <!-- Footer -->
     <div class ="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
    
    <button type="button" class="navbar-inverse btn btn-primary pull-right" style="margin-top:10px;">Team 10</button>
    <p class="navbar-text pull-right">RM SUMAYA & SHINEE CRISOSTOMO</p>
    </div>
    </div>

    



    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/static/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- movie db api js -->
    <script src="/static/js/moviedb.js"></script>
    <script type="text/javascript">init();</script>
    <script type="text/javascript" src="handlebars.js"></script>
  <script type="text/javascript" src="jquery.js"></script>
</body>

</html>