<html>
<head>
    <title>MovieDB</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>

<style>
.under
{
position:absolute;
left:30px;
top:200px;
z-index:3;
}

.beneath
{
position:absolute;
left:150px;
top:250px;
font-color: inherit;
z-index:3;
}
</style>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:#FF7F50">Movie Database Module</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="javascript:void(0)" class='btn-now-showing active'>Now Showing</a></li>
              <li class="divider-vertical"></li>
              <li><a href="javascript:void(0)" class='btn-upcoming'>Next Attraction</a></li>
              <li class="divider-vertical"></li>
              <li><a href="javascript:void(0)" class='btn-popular'>Trending</a></li>
              <li class="divider-vertical"></li>
              <li><a href="javascript:void(0)" class='btn-top-rated'>Top Rated</a></li>
            </ul>
            
            <form class="navbar-form navbar-right" role="search" id="movie-search">
                  <div class="form-group">
                    <input type="text" class="form-control typeahead" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default" style ="background-color:#FF7F50"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                </div><!--/.nav-collapse -->
              </div>
            </div>

    <div class="container" style='top: 70px; position: relative;'>
        <div class='movies-list'>

        </div><!-- /.row -->
    </div><!-- /.container -->

        {% raw %}
    <script type="text/x-handlebars-template" id="tpl-list">
        <div class="col-lg-12">
            <h1 class="page-header" style="border-bottom:1px solid black">{{header}}
                <small>Movies</small>
            </h1>
        </div>
    {{#each this.result.results}}
        <div class="movie col-md-6 movie-link" data-id="{{id}}">
                <img width="100%" height="100%" class="img-responsive backdrop" 
                    {{#if backdrop_path}}src="{{../../config.images.base_url}}{{../../config.images.poster_sizes.[3]}}{{backdrop_path}}" 
                    {{else}}src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQFkoKibkS4-HEX0leN_MTEp28tcaF0Qwow00o0PlRCyJTfDEzo"
                    {{/if}}>
                <div class="movie-desc">
                 <a href="#">
                    <img height="100px" class="img-responsive poster" 
                        {{#if poster_path}}src="{{../../config.images.base_url}}{{../../config.images.poster_sizes.[1]}}{{poster_path}}" 
                        {{else}}src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQFkoKibkS4-HEX0leN_MTEp28tcaF0Qwow00o0PlRCyJTfDEzo"
                        {{/if}}>
                    <h4 class="movie-title">
                        {{title}}
                    </h4>
                </a>
                <br>
                <hr>
                <div id="{{id}}" style="float:none">
                </div> 
            </div>
            
        </div>
    {{/each}}    
    </script>
    <script type="text/x-handlebars-template" id="tpl-page">
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li {{#if startingPage}}class="disabled"{{/if}}>
                        <a href="#" data-query="{{query}}">&laquo;</a>
                    </li>
                    {{#each this.pages}}
                        <li>
                            <a href="#" class="page-link" {{#if active}}class="active"{{/if}} data-query="{{../query}}" data-id="{{page}}">{{page}}</a>
                        </li>
                    {{/each}}
                    <li {{#if endPage}}class="disabled"{{/if}}>
                        <a href="#" data-query="{{query}}">&raquo;</a>
                    </li>
                </ul>
                <div id="page-number"></div>
            </div>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="tpl-movie-view">
        <div id="carousel-backdrop" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
               {{#each movie.images.backdrops}}
                <li data-target="#carousel-backdrop" data-slide-to="{{@index}}" {{#unless @index}}class="active"{{/unless}}></li>
                {{/each}}
              </ol>


            <div class="row">
                <div id="trailer">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.youtube.com/embed/{{movie.videos.results.0.key}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div id="movie-details">
                    <h3>Overview: </h3>
                    {{movie.overview}}
                    <h2>Tagline:</h2>
                        {{#if movie.tagline}} {{movie.tagline}}                   
                        {{else}} No tagline
                        {{/if}}
                   
                </div>
            </div>
            <div class="row">

                    <h3>Casts: </h3>
                     <hr>
                    {{#each_upto movie.casts.cast 4}}
                        <div class="col-md-1 casts" class="cast">
                            <img class="img-responsive" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[0]}}{{profile_path}}">
                            {{name}}
                        </div>
                    {{/each_upto}}
                    <div style="display:none">
                        {{#each_from movie.casts.cast 5}}
                            <div class="col-md-1 casts">
                                <img class="img-responsive" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[0]}}{{profile_path}}">
                                {{name}}
                            </div>
                        {{/each_from}}
                    </div>
                     <div>
                        <a href="#" onclick="togglePrevDiv(this)" class="show-hide">Show/Hide</a>
                    </div>
                    <div class="detail-container">

                    </div>    
                </div>
                <div></div>

                    <h3>Similar Movies: </h3>
                     <hr>
                    {{#each_upto movie.similar.results 4}}
                        <a class="movie-link" href="#" onclick="singleMovieQuery({{id}})">
                            <div class="col-md-1 casts" class="cast">
                                <img class="img-responsive" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[0]}}{{poster_path}}">
                                {{original_title}}
                            </div>
                        </a>
                    {{/each_upto}}
                    <div style="display:none">
                        {{#each_from movie.similar.results 5}}
                            <a href="#" class="movie-link" onclick="singleMovieQuery({{id}})">
                                <div class="col-md-1 casts">
                                    <img class="img-responsive" src="{{../config.images.base_url}}{{../config.images.poster_sizes.[0]}}{{poster_path}}">
                                    {{original_title}}
                                </div>
                            </a>
                        {{/each_from}}
                    </div>
                     <div>
                        <a href="#" onclick="togglePrevDiv(this)" class="show-hide">Show/Hide</a>
                    </div>
                </div>    
            </div>

    </script>
    {% endraw %}
	

	<div class ="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
    
    <button type="button" class="navbar-inverse btn btn-primary pull-right" style="margin-top:10px;">Team 10</button>
    <p class="navbar-text pull-right">RM SUMAYA & SHINEE CRISOSTOMO</p>
    </div>
    </div>
<br>
<br>

    <script src="/static/js/vendors/jquery.js"></script>
    <script src="/static/js/vendors/bootstrap.min.js"></script>
    <script src="/static/js/vendors/handlebars.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>
